body {
	background-color: #435590;
	margin: 0;
	font-family: sans-serif;
}
#wrap {
	display: flex;
	width: 900px;
	margin: 0 auto;
}
#content ul li {
	text-align: center;
	list-style: none;
}
#content h1 {
	text-align: center;
}
#content #details {
	padding: 10px;
	text-align: center;
}
#nav {
	width: 200px;
	background-color: #79C9EE;
}
#nav h2 {
	text-align: center;
}
#nav ul {
	width: 100px;
	margin: auto;
}
#content {
	width: 700px;
	height: 450px;
	background-color: #6987EE;	
}
.copyright {
	margin-top: 35px;
}