body {
	font-family: sans-serif;
}
#header {
	width: 900px;
	height: 200px;
}
#logo {
	float: left;
}
#header p {
	display: block;
	margin-top: 80px;
	float: right;
	font-style: italic;
	font-size: 2em;	
}